$color-logo-main: #ffffff;
$color-logo-ending: #42a9ed;
$color-bg-header: #10101de5;
$color-bg-main: #272733;
$color-bg-additional: #3d4050;
$color-bg-footer: #3d4050; 
$color-primary: #3e9cdc;
$color-primary-dark: #286690;
$color-primary-hover: scale-color($color-primary, $blackness:10%);
$color-primary-active: scale-color($color-primary, $blackness:5%);
$color-secondary: #ffffff;
$color-secondary-hover: scale-color($color-secondary, $blackness:10%);
$color-secondary-active: scale-color($color-secondary, $blackness:5%);
$color-border-primary: #ffffff;
$color-border-secondary: #6f6d7b;
$color-text-light: #ffffff;
$color-text-light-hover: #42a9ed;
$color-text-light-active: scale-color($color-text-light, $blackness:20%);
$color-text-regular: #272733;
$color-text-regular-active: scale-color($color-text-regular, $lightness:40%);
$color-text-dark: #000000;
$color-text-remark: #bbbbbb;
$color-bg-input: rgba($color-secondary, 0.85);
$color-stroke-select: #3d4050;

$font-family-accent: 'Raleway', sans-serif;
$font-family-main: 'Lato', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-size-logo: 2.8rem;
$font-size-header: 1.3rem;
$font-size-footer: 1.3rem;
$font-size-2xs: 1.3rem;
$font-size-xs: 1.5rem;
$font-size-sm: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2rem;
$font-size-xl: 3.6rem; 
$font-size-2xl: 4.8rem;

$width-mobile-sm: 320px;
$width-mobile-lg: 425px;
$width-tablet: 768px;
$width-desktop: 1172px;
$width-btn-md: 18.3rem;
$width-btn-lg: 37rem;
$width-input: $width-btn-lg;
$width-select: $width-btn-lg;

$height-select: 228px;
$height-range-input: 6px;

$gap-2xs: 0.5rem;
$gap-xs: 1rem;
$gap-s: 1.5rem;
$gap-sm: 2rem;
$gap-md: 3rem;
$gap-lg: 6rem;
$gap-xl: 8rem;

$border-radius-xs: 3px;
$border-radius-sm: 4px;
$border-width-sm: 1px;
$border-width-md: 3px;
$border-width-lg: 5px;
$border-radius-round: 50%;
$border-light: $border-width-sm solid $color-secondary;

$stage-icon-size: 100px;
$stage-icon-bg: $color-primary;
$stage-icon-border-color: $color-primary-dark;
$stage-icon-border-width: $border-width-lg; 
$stage-icon-border-radius: $border-radius-round;

$transition-duration-basic: 0.5s;
$transition-function-basic: ease; 
