@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Raleway:wght@800&display=swap');

$color-logo-main: #ffffff;
$color-logo-ending: #42a9ed;
$color-bg-header: #10101de5;
$color-bg-main: #272733;
$color-bg-footer: #3d4050;
$color-primary: #3e9cdc;
$color-secondary: #ffffff;
$color-border-primary: #ffffff;
$color-border-secondary: #6f6d7b;
$color-text-light: #ffffff;
$color-text-dark: #272733;
$color-text-highlight: #000000;


$font-family-accent: 'Raleway', sans-serif;
$font-family-main: 'Lato', sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-size-logo: 2.8rem;
$font-size-header: 1.3rem;
$font-size-footer: 1.3rem;
$font-size-2xs: 1.3rem;
$font-size-xs: 1.5rem;
$font-size-sm: 1.6rem;
$font-size-md: 1.8rem;
$font-size-lg: 2rem;
$font-size-xl: 2.6rem; 
$font-size-2xl: 4.8rem;

$width-mobile-sm: 320px;
$width-mobile-lg: 425px;
$width-tablet: 768px;
$width-desktop: 1172px;
$width-btn-md: 18.3rem;
$width-btn-lg: 37rem;

$gap-2xs: 0.5rem;
$gap-xs: 1rem;
$gap-s: 1.5rem;
$gap-sm: 2rem;
$gap-md: 3rem;
$gap-lg: 6rem;
$gap-xl: 8rem;

$border-radius-sm: 4px;

$border-width-sm: 1px;

