@mixin box ($width, $height: $width) {
  width: $width;
  height: $width;
}

@mixin slider-thumb {
  -webkit-appearance: none !important;
  @include box(24px);
  border: $border-width-md solid $color-primary-dark;
  background-color: $color-primary;
  border-radius: $border-radius-round;
}
