.burger-menu {
  display: none;
}

@media screen and (max-width: $width-tablet) {
  .burger-menu {
    display: block;
    width: 35px;
    height: 25px;
    position: relative;
    span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: $color-secondary;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before, 
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-secondary;
      transition: all $transition-duration-basic $transition-function-basic;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  .burger-menu_active {
    span {
      display: none;
    }
    &:before {
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
    }
    &:after {
      bottom: 50%;
      transform: translateY(50%) rotate(45deg)
    }
  } 
}
