.btn {
  padding: 1.5rem;
  border-radius: $border-radius-sm;
  font-size: $font-size-xs;
  text-transform: uppercase;
  border-width: $border-width-xs;
  border-style: solid;
  cursor: pointer;
  &_primary {
    background-color: $color-primary;
    color: $color-text-light;
    border-color: $color-border-primary;
    &:hover {
      background-color: $color-primary-hover;
    }
    &:active {
      background-color: $color-primary-active;
      color: $color-text-light-active;
    }
  }
  &_secondary {
    background-color: $color-secondary;
    color: $color-text-regular;
    border-color: $color-border-secondary; 
    &:hover {
      background-color: $color-secondary-hover;
    }
    &:active {
      background-color: $color-secondary-active;
      color: $color-text-regular-active;
    }
  }
  &_sm {
    width: $width-btn-md;
  }
  &_lg {
    width: $width-btn-lg;
  }
}
