.file-input {
  font-family: $font-family-main;
  background-color: $color-secondary;
  color: $color-text-regular;
  border: $border-width-sm solid $color-primary;
  transition: background-color $transition-function-basic $transition-duration-basic;
  &:hover {
    background-color: $color-secondary-hover;
  }
  >label {
    cursor: pointer;
    @extend %flex-center;
    align-items: center;
    >img {
      margin-right: $gap-xs;
    }
  }
  input {
    padding: 0px;
    border: none;
    border-radius: 0;
    display: none;
  }
  &__text {
    font-size: $font-size-xs;
  }
}
