.input {
  font-family: $font-family-main;
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  background-color: $color-bg-input;
  border: $border-light;
  border-radius: $border-radius-xs;
  padding: 1.2rem 1rem;
  width: $width-input;
  &::placeholder {
    color: $color-text-regular;
  }
  &:focus {
    outline: $border-width-sm solid $color-primary;
  }
}
