.select {
  width: $width-input;
  font-family: $font-family-main;
  font-size: $font-size-md;
  font-weight: $font-weight-normal;
  position: relative;
  input[type="radio"] {
    display: none;
  }
  &-control {
    position: relative;
    text-align: left;
    cursor: pointer;
    &__icon {
      @include box(20px);
      background-image: url('assets/shevron-down.svg');
      position: absolute;
      right: $gap-xs;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__options-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 2px 4px 3px 0;
    display: none;
    height: 0;
  }
  &__options {
    background-color: rgba($color-bg-main, 0.9);
    padding-top: 1rem;
    overflow-y: auto;
    width: 100%;
    padding-right: 5px;
    height: 0;
  }
  &__options::-webkit-scrollbar-track {
    border-radius: $border-radius-sm;
  }
  &__option {
    display: block;
    color: $color-text-light;
    padding: 0.6rem 1rem;
    transition: color $transition-duration-basic $transition-function-basic;
    cursor: pointer;
    &:hover {
      color: $color-text-light-hover;
    }
  }
}
.select_active {
  .select {
    &-control {
      border: $border-width-xs solid $color-stroke-select;
      border-bottom: $border-width-xs solid rgba($color-stroke-select, 0.85);
      border-radius: $border-radius-xs $border-radius-xs 0 0;
      color: $color-text-light;
      background-color: rgba($color-stroke-select, 0.85);
      &:focus {
        outline: none;
      }
      &__icon {
        background-image: url('assets/shevron-up-contrast.svg');
      }
    }
    &__options-wrapper {
      display: block;
      background-color: $color-bg-main;
      border: $border-width-xs solid $color-stroke-select;
      border-top: none;
      border-radius: 0 0 $border-radius-xs $border-radius-xs;
      height: auto;
    }
    &__options {
      height: 180px;
    }
  }
}
