html {
  font-size: 10px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 0;
  >* {
    font-size: 10px;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

