::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: $color-bg-additional;
}

::-webkit-scrollbar-thumb {
  border-radius: $border-radius-sm;
  background-color: $color-primary;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-primary-dark;
}
