.container {
  max-width: $width-desktop;
  margin: 0 auto;
}

@media screen and (max-width: $width-desktop) {
 .container {
  margin: 0 $gap-sm;
 }  
}

@media screen and (max-width: $width-mobile-lg) {
  .container {
   margin: 0 $gap-xs;
  }  
 }
