.footer {
  background-color: $color-bg-footer;
  color: $color-text-light;
  padding: $gap-md 0;
  font-family: $font-family-main;
  font-size: $font-size-2xs;
  &__container {
    display: flex;
    align-items: center;
  }
  &__column {
    @extend %flex-space-between;
    flex-grow: 1;
    border-right: $border-width-xs solid #c3c3c3;
    padding: 0 4rem;
    gap: 3.8rem;

    &:first-child {
      flex-grow: 0;
      padding-left: 0;
    }
    &:last-child {
      flex-grow: 0;
      border-right: none;
      padding-right: 0;
    }
  }
}

@media screen and (max-width: $width-desktop) {
  .footer {
    &__container {
      flex-wrap: wrap;
      .label {
        gap: $gap-2xs;
      }
      .footer__column {
        flex-grow: 1;
        // width: 100%;
        justify-content: center;
        border: none;
        margin-bottom: $gap-sm;
        &:last-child {
          padding: 0 3rem;
          flex-grow: 1;
          justify-content: center;
          // margin-top: $gap-sm;
        }
        &:first-child {
          padding: 0 3rem;
          order: 1;
          width: 100%;
          margin: 0;
          justify-content: center;
          border: none;
        }
      }
    }

  }
}

@media screen and (max-width: $width-tablet) {
  .footer__column {
    padding: 0;
    gap: $gap-sm;
  }
}
  



