.header {
  background-color: $color-bg-header;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100vw;
  &__container {
    padding: $gap-md 0;
    @extend %flex-space-between;
    align-items: center;
  };
};

@media screen and (max-width: $width-tablet) {
  .header__navigation {
    position: fixed;
    height: 100vh;
    width: 80%;
    min-width: $width-mobile-sm;
    right: -100%;
    top: 0;
    background-color: rgba($color-bg-header, 0.9);
    transition: all $transition-duration-basic $transition-function-basic;
    .navigation {
      height: 100%;
      width: $width-mobile-sm;
      flex-direction: column;
      padding: $gap-sm;
      align-items: center;
      justify-content: center;
      &__link {
        padding: $gap-sm;
        margin: 0;
      }
    }
   
  }

  .header__navigation_active {
    right: 0;
  }
 
}
