.hero {
  // height: 850px;
  background: url('assets/hero-bg.jpg') center center/cover no-repeat;
  &__container {
    padding-top: 203px;
    padding-bottom: 200px;
  }
  &__buttons {
    margin-top: $gap-xl;
    display: flex;
    gap: $gap-md;
  }
}

.hero__heading {
  font-size: $font-size-2xl;
  text-transform: uppercase;
  color: $color-text-dark;
  width: 780px;
  line-height: 1.2;
  margin-bottom: $gap-xl;
}

.hero__list {
  font-size: $font-size-lg;
  & .list__item {
    &::before {
      background-color: $color-text-dark;
    }
  }
}

@media screen and (max-width: $width-desktop) {
  .hero__heading {
    width: auto;
  }
}

@media screen and (max-width: $width-tablet) {
  .hero {
    &__heading {
      font-size: $font-size-xl;
    }
  }
}

@media screen and (max-width: $width-mobile-lg) {
  html {
    font-size: 8px;
  }
}
