.order {
  background: url('../assets/order-bg.png') center center/cover no-repeat;
  background-color: $color-bg-main;
  &__container {
    padding: 120px 0 150px;
  }
  &__title {
    font-size: $font-size-xl;
    color: $color-text-light;
    text-align: center;
  }
  &__remark {
    margin-top: $gap-md;
    font-size: $font-size-md;
    color: $color-text-remark;
    text-align: center;
  }
  &__workflow {
    margin: $gap-xl 0;
    .loupe {
      background-image: url('../assets/workflow/loupe.svg');
    }
    .percent {
      background-image: url('../assets/workflow/percent.svg');
    }
    .document {
      background-image: url('../assets/workflow/document.svg');
    }
    .envelope {
      background-image: url('../assets/workflow/envelope.svg');
    }
    .cash {
      background-image: url('../assets/workflow/cash.svg');
    }
  }
}

#form {
  display: grid;
  grid-template-columns: repeat(3, $width-input);
  grid-gap: $gap-md;
}

.range {
  grid-column: span 2;
  @extend %flex-space-between;
  flex-direction: column;
  >* {
    width: 100%;
  }
  &__info {
    @extend %flex-space-between;
  }
}

#submit-form {
  justify-self: center;
  margin-top: $gap-sm;
  grid-column: span 3;
}

@media screen and (max-width: $width-desktop) {
  #form {
    max-width: calc( 2 * $width-input + $gap-sm);
    width: 100%;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $gap-md;
    &>*{
      font-size: $font-size-xs;
    }
  }
  .range {
    grid-row: 3;
    width: 100%;
  }
  #submit-form {
    grid-column: span 2;
  }
  #name,
  #upload {
    grid-row: 2;
    width: 100%;
  }
  #select-label  {
    font-size: $font-size-xs;
  }

  #emai {
    width: 100%;
  }
}

@media screen and (max-width: $width-mobile-lg) {
  #form {
    grid-template-columns: $width-input;
    max-width: $width-input;
    width: 100%;
    &>*{
      font-size: $font-size-xs;
    }
  }
  #submit-form, .range {
    grid-column: 1;
  }

  #upload {
    grid-row: 5;
  }
  .range {
    grid-area: 4;
  }

}
