.order {
  background: url('assets/order-bg.png') center center/cover no-repeat;
  background-color: $color-bg-main;
  &__container {
    padding: 120px 0 150px;
  }
  &__title {
    font-size: $font-size-xl;
    color: $color-text-light;
    text-align: center;
  }
  &__remark {
    margin-top: $gap-md;
    font-size: $font-size-md;
    color: $color-text-remark;
    text-align: center;
  }
  &__workflow {
    .loupe {
      background-image: url('assets/workflow/loupe.svg');
    }
    .percent {
      background-image: url('assets/workflow/percent.svg');
    }
    .document {
      background-image: url('assets/workflow/document.svg');
    }
    .envelope {
      background-image: url('assets/workflow/envelope.svg');
    }
    .cash {
      background-image: url('assets/workflow/cash.svg');
    }
  }
}

#form {
  display: grid;
  grid-template-columns: repeat(3, $width-btn-lg);
  grid-gap: $gap-md;
}

.range {
  grid-column-start: 1;
  grid-column-end: 3;
  @extend %flex-space-between;
  flex-direction: column;
  >* {
    width: 100%;
  }
  &__info {
    @extend %flex-space-between;
  }
}

#submit-form {
  justify-self: center;
  margin-top: $gap-sm;
  grid-column-start: 1;
  grid-column-end: 4;
}
